:root {
  /* Primary Colors */
  --color-teal: #0E8784; /* Teal (midnight green) */
  --color-light-teal: #66D2CF; /* Light Teal (rapture blue) */
  --color-dark-blue: #2c6269; /* Police Blue */
  --color-light-blue: #6f9eb5; /* Sky Blue */
  --color-peach: #f4b393; /* Peach */

  /* Secondary Colors */
  --color-light-grey: #eff2f2; /* Light Grey */
  --color-dark-grey: #333D4B; /* Dark Grey */

  /* Font Families */
  --font-family-title: "Fraunces", serif;
  --font-family-body: "Barlow", sans-serif;

  /* Font Sizes */
  --font-size-h1-large: 80px; /* Very big title */
  --font-size-h1-small: 72px; /* Slightly smaller */
  --font-size-h2: 56px; /* Section title */
  --font-size-h3: 24px; /* Small title */
  --font-size-body-1: 18px; /* Big body text */
  --font-size-body-2: 16px; /* Normal body text */

  /* Line Heights */
  --line-height-h1-large: 88px;
  --line-height-h1-small: 72px;
  --line-height-h2: 64px;
  --line-height-h3: 32px;
  --line-height-body-1: 25px;
  --line-height-body-2: 24px;

  /* Button Sizes */
  --button-padding: 1rem 2rem;
  --button-border-radius: 8px;

  /* Other */
  --container-width: 1200px;
}
